<div class="container-fluid slice bg-color bg" id="first">
  <div class="container">
    <div class="row">
      <div class="col-lg d-flex justify-content-center">
        <div class="align-self-center">
          <span class="font-race text-primary title">BCA</span>
          <span class="font-champagne subtitle">IT Career</span>
        </div>
      </div>

    </div>
  </div>
</div>