<div class="container-fluid slice">
  <div class="container align-self-center">
    <div class="form-horizontal">
      <br>
      <div class="form-group">
        <label class="col-sm-2 control-label">Total Employee:</label>
        <div class="col-sm-10">
          {{input type="text" value=NewEmployeeCount class="form-control" placeholder="Input Total of Employee..."}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" {{action 'saveCount'}}>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>