body {
  // overflow: hidden;
}
.btn{
  margin: .5rem;
}
.card-title, .card-text{
  // color: ;
}
.admin-main{
  padding: 75px 0 4rem;
}
.full{
  position: relative;
  width: 100vw;
  height: 100vh;
}
.child{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
.card{
  // width: 14rem;
  // height: 18rem;
}
.card-img-top{
  // height: 10rem;
}
